<div class="row shadow-sm mt-2 m-0 mb-2 bg-white">
  <p class="fs-5 text-black-50 bg-warning">HABILIDADES</p>
  <div class="col-xs-12 col-sm-4 col-md-12 col-lg-6 list-group  ">
    <ul class="list-group list-group-flush ">
      <li class="list-group-item disabled" aria-disabled="true">HARD SKILLS</li>
      <li class="list-group-item"><img src="./assets/ico/angular.png" height="35p" width="35p"> Angular
        <div class="progress float-end mt-2 ms-2" style="width:180px">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%;" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100">50%</div>
        </div>
      </li>
      <li class="list-group-item"><img src="./assets/ico/css3.png" height="35p" width="35p"> CSS3<div
          class="progress float-end mt-2 ms-2" style="width:180px">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%;" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100">50%</div>
        </div>
      </li>
      <li class="list-group-item"><img src="./assets/ico/javascript.png" height="35p" width="35p"> Java Script<div
          class="progress float-end mt-2 ms-2" style="width:180px">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%;" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100">50%</div>
        </div>
      </li>
      <li class="list-group-item"><img src="./assets/ico/git.png" height="35p" width="35p"> Git Hub<div
          class="progress float-end mt-2 ms-2" style="width:180px">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%;" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100">50%</div>
        </div>
      </li>
      <li class="list-group-item"><img src="./assets/ico/photoshop.png" height="35p" width="35p"> Photoshop<div
          class="progress float-end mt-2 ms-2" style="width:180px">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%;" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100">50%</div>
        </div>
      </li>
      <li class="list-group-item"><img src="./assets/ico/mysql.png" height="35p" width="35p"> Mysql<div
        class="progress float-end mt-2 ms-2" style="width:180px">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%;" aria-valuenow="25"
          aria-valuemin="0" aria-valuemax="100">50%</div>
      </div>
    </li>
    <li class="list-group-item"><img src="./assets/ico/nodejs.png" height="35p" width="35p"> NodeJS<div
        class="progress float-end mt-2 ms-2" style="width:180px">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%;" aria-valuenow="25"
          aria-valuemin="0" aria-valuemax="100">50%</div>
      </div>
    </li>
    <li class="list-group-item"><img src="./assets/ico/java.png" height="35p" width="35p"> Java<div
        class="progress float-end mt-2 ms-2" style="width:180px">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%;" aria-valuenow="25"
          aria-valuemin="0" aria-valuemax="100">50%</div>
      </div>
    </li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-12 col-lg-6 list-group">
    <ul class="list-group list-group-flush">
      <li class="list-group-item disabled" aria-disabled="true">SOFT SKILLS</li>
      <li class="list-group-item"><img src="./assets/ico/comunicacion.png" height="35p" width="35p"> Comunicación<div
          class="progress float-end mt-2 ms-2" style="width:180px">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%;" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100">50%</div>
        </div>
      </li>
      <li class="list-group-item"><img src="./assets/ico/trabajoequipo.png" height="35p" width="35p"> Colaboración<div
          class="progress float-end mt-2 ms-2" style="width:180px">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%;" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100">50%</div>
        </div>
      </li>
      <li class="list-group-item"><img src="./assets/ico/liderazgo.png" height="35p" width="35p"> Liderazgo<div
          class="progress float-end mt-2 ms-2" style="width:180px">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%;" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100">50%</div>
        </div>
      </li>
      <li class="list-group-item"><img src="./assets/ico/creatividad.png" height="35p" width="35p"> Creatividad<div
        class="progress float-end mt-2 ms-2" style="width:180px">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%;" aria-valuenow="25"
          aria-valuemin="0" aria-valuemax="100">50%</div>
      </div>
    </li>
    <li class="list-group-item"><img src="./assets/ico/idea.png" height="35p" width="35p">Resolucion<div
      class="progress float-end mt-2 ms-2" style="width:180px">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%;" aria-valuenow="25"
        aria-valuemin="0" aria-valuemax="100">50%</div>
    </div>
  </li>
    </ul>
  </div>
</div> 
<!-------------------------> 


