<div class="row shadow-sm m-0 mt-3 bg-white">
    <p class="fs-5 bg-dark text-white m-0 bg-opacity-75">PROYECTOS </p>
</div>
<table class="table table-sm table-bordered bg-white shadow-sm mb-1">
    <tbody>
        <tr *ngFor="let Proyecto of proye">
            <td width="120" class="align-middle text-center"><img class="" src="{{Proyecto.fotoP}}" width="100px" height="100px">
            </td>
            <td>
                <p class="fs-6 fw-bold text-muted lh-sm">{{Proyecto.nombreP}}</p>
                <p class="fs-6 fst-italic lh-sm">{{Proyecto.fecha}}</p>
                <p class="fs-6 lh-sm">{{Proyecto.descripcionP}}</p>
                <a href="{{Proyecto.link}}" class="link-dark">Enlace al Proyecto</a>
                <!--<p class="fs-6">{{Proyecto.link}}</p>-->
            </td>
            <td width="50" class="align-middle text-center" *ngIf="isLogged"><button class="btn btn-warning"
                    routerLink="/editproye/{{Proyecto.id}}"><i class="bi bi-pencil"></i></button></td>

            <td width="50" class="align-middle text-center" *ngIf="isLogged"><button class="btn btn-danger"
                    (click)="delete(Proyecto.id)"><i class="bi bi-x-circle"></i></button></td>

        </tr>

    </tbody>
</table>
    <div class="mb-5 p-0 align-middle text-end" *ngIf="isLogged">
        <button type="button" class="btn btn-primary btn-sm" routerLink="/nuevoproye" *ngIf="isLogged">
            + Agregar Nuevo Proyecto
        </button>
    </div>