<div class="row shadow-sm m-0 mt-3 bg-white">
    <p class="fs-5 bg-dark text-white m-0 bg-opacity-75">EXPERIENCIA </p>
</div>
<table class="table table-sm table-bordered bg-white shadow-sm mb-1">
    <tbody>
        <tr *ngFor="let Experiencia of expe">
            <td width="120" class="align-middle text-center"><img class="" src="{{Experiencia.fotoE}}" width="100px"
                    height="90px">
            </td>
            <td>
                <p class="fs-6 fw-bold text-muted lh-sm">{{Experiencia.nombreE}}</p>
                <p class="fs-6 fst-italic lh-sm">{{Experiencia.fechaI}}-{{Experiencia.fechaF}}</p>
                <p class="fs-6 lh-sm">{{Experiencia.descripcionE}}</p>
            </td>
            <td width="50" class="align-middle text-center" *ngIf="isLogged"><button class="btn btn-warning"
                    routerLink="/editexp/{{Experiencia.id}}"><i class="bi bi-pencil"></i></button></td>
            <td width="50" class="align-middle text-center" *ngIf="isLogged"><button class="btn btn-danger"
                    (click)="delete(Experiencia.id)"><i class="bi bi-x-circle"></i></button></td>
        </tr>
    </tbody>
</table>

<div class="mb-5 mt-0 p-0 align-middle text-end" *ngIf="isLogged">
    <button type="button" class="btn btn-primary btn-sm" routerLink="/nuevaexp" *ngIf="isLogged">
        + Agregar Nueva Experiencia

    </button>
</div>

