<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="card p-2 m-2 bg-warning bg-gradient" style="width: 25rem;">
        <div class="">
            <div>
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="nombreE" class="fs-5 text-dark">Nombre de la empresa</label>
                        <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="expLab.nombreE"
                            required="">
                    </div>
                    <div class="form-group">
                        <label for="anio" class="fs-5 text-dark">Fecha de Inicio</label>
                        <input type="text" class="form-control" id="fechaI" name="fechaI" [(ngModel)]="expLab.fechaI" required="">
                    </div>
                    <div class="form-group">
                        <label for="anio" class="fs-5 text-dark">Fecha de Finalización</label>
                        <input type="text" class="form-control" id="fechaF" name="fechaF" [(ngModel)]="expLab.fechaF" required="">
                    </div>
                    <div class="form-group">
                        <label for="descripcionE" class="fs-5 text-dark">Descripción del trabajo</label>
                        <textarea type="text" class="form-control" id="descripcionE" rows="3" name="descripcionE"
                            [(ngModel)]="expLab.descripcionE" required=""></textarea>
                    </div>
                    <div class="form-group">
                        <label for="descripcionE" class="fs-5 text-dark">URL Imagen - Logo de la Empresa</label>
                        <input type="text" class="form-control" id="fotoE" name="fotoE" [(ngModel)]="expLab.fotoE">
                    </div>
                    <br>
                    <button class="btn btn-primary">Editar Experiencia</button>
                </form>
            </div>
        </div>
    </div>
    </div>