<div class="shadow-sm mt-2 position-relative">
    <img src={{persona.fotoPerfil}} class="img-fluid translate-middle rounded-circle border border-4 border-warning border-opacity-75"
        width="85px" height="60px" id="fotoperfil">

    <div class="row shadow-sm  mt-0 m-0 p-0 bg-white">

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <br>
            <br>
            <p class="fs-4 fw-bold text-center ">{{persona.nombre}} {{persona.apellido}}</p>
            <p class="fs-5 text-center fst-italic ">{{persona.cargo}}</p>
            <div class=" text-center ">
            <button *ngIf="isLogged" class="btn btn-primary d-inline-flex btn-sm" routerLink="/editacercade/{{persona.id}}"><i class="bi bi-pencil"></i>Editar Perfil</button>
            </div>
            <br>
            </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 mt-0 p-1">
            <p class="fs-4 shadow-sm text-white bg-warning bg-opacity-75">SOBRE MÍ</p>
            <p>{{persona.descripcion}}</p>
        </div>

    </div>
</div>
