<div class="row accordion acshadow-sm m-0 bg-white ">
    <p class="fs-5 bg-dark text-white mb-0 bg-opacity-75">PRUEBA </p>
</div>
<table class="table table-sm table-bordered bg-white mb-2">
    <tbody>
        <tr>
            <td class="align-middle text-center"><img class="" src="./assets/carranza.png" width="80px" height="100px"></td>
            <td>
                <p class="fs-6 fw-bold text-muted">Escuela Técnica Ing. Roque Carranza</p>
                <p class="fs-6 fst-italic">2002 - 2008</p>
                <p class="fs-6">Maestro Mayor de Obras</p>
            </td>
        </tr>
        <tr>
            <td class="align-middle text-center"><img class="mx-auto d-block " src="./assets/inglesutn.png" width="120px" height="55px"></td>
            <td>
                <p class="fs-6 fw-bold text-muted">Ingles - Universidad Técnologica Nacional</p>
                <p class="fs-6 fst-italic">2022 - 2023</p>
                <p class="fs-6">Nivel alcanzado A1+</p>
            </td>
        </tr>
    </tbody>

